body {
    background-image: url("./images/bg-img.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.analysis {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.3);
}